// -------------------- TABLE --------------------
.motos__tabla {
    @include contenedor-limitado(900px);
    margin-top: 2rem;

    table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
    }

    th,
    td {
        padding: 10px;
        text-align: center;
    }

    img {
        width: 100%;
        max-width: 200px;
        height: auto;
        object-fit: cover;
        cursor: pointer;
        border-radius: 10px;
        @include transicion-suave;

        &:hover {
            transform: scale(1.1);
        }
    }
}